name: Secure DevSecOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Security Tools
        run: pip install bandit checkov

      - name: Run Bandit (Code Security)
        # Scan du code Python pour vérifier qu'il n'y a pas de secrets en dur
        run: bandit -r app/ -f json -o bandit-report.json || true

      - name: Run Checkov (Infrastructure Security)
        # Scan du YAML CloudFormation
        # EXPLICATION DES EXCEPTIONS :
        # - CKV_AWS_117 : On ignore car on n'utilise pas de VPC (trop cher/complexe pour l'examen)
        # - CKV_AWS_18  : On ignore car le bucket de logs ne peut pas se loguer lui-même (boucle infinie)
        run: checkov -f infrastructure.yaml --framework cloudformation --skip-check CKV_AWS_117,CKV_AWS_18

  deploy:
    needs: security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Package Lambda
        run: |
          cd app
          zip -r ../deployment_package.zip lambda_function.py

      - name: Deploy Lambda Code
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: us-east-1
          function_name: securedocvault-upload-logic
          zip_file: deployment_package.zip